.sprite {
    background-image: url(../img/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.sprite-angular {
    width: 50px;
    height: 50px;
    background-position: -5px -5px;
}

.sprite-arduino {
    width: 50px;
    height: 34px;
    background-position: -65px -5px;
}

.sprite-arduino {
    width: 50px;
    height: 34px;
    background-position: -125px -5px;
}

.sprite-css3 {
    width: 100px;
    height: 47px;
    background-position: -65px -49px;
}

.sprite-git {
    width: 50px;
    height: 21px;
    background-position: -5px -106px;
}

.sprite-html-logo {
    width: 50px;
    height: 50px;
    background-position: -65px -106px;
}

.sprite-jquery {
    width: 50px;
    height: 50px;
    background-position: -125px -106px;
}

.sprite-js {
    width: 100px;
    height: 47px;
    background-position: -185px -5px;
}

.sprite-nodejs-new-pantone-black {
    width: 50px;
    height: 31px;
    background-position: -175px -62px;
}

.sprite-requirejs {
    width: 100px;
    height: 63px;
    background-position: -185px -103px;
}

